* {
   margin: 0px;
   padding: 0px;
}

body {
  height: 100%;
  box-sizing: border-box;
  background-color: #0D38D3;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  color: white;
}

header {
  padding-top: 50px;
  padding-left: 30%;
  padding-right: 30%;
  margin: 1px;
 
}

main { 
  padding: 25px 100px 50px 100px;
  margin: 1px;            
  
}

h1 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 50px;
  text-align: center;
  line-height: 60px;
  margin: 2px;
}

h2 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 35px;
  text-align: center;
  color: #43d6b9ff;
  line-height: 1.3em;
  letter-spacing: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: "Roboto Mono", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #0D38D3;
  line-height: 1.3em;
  padding-bottom: 15px;
}

/* Paragraph style */
p { 
  font-family: "Roboto", sans-serif; 
  font-size: 20px;
  color: white;
  line-height: 1.5em;
}

.tap {
  text-align: center;
}

/* Link style */
a {
  color: #43d6b9ff;
  text-decoration: none;
}

/* Unorder list elements */
.nav-bar {
  list-style-type: none;
  overflow: hidden;
  
  background-color: #43d6b9ff;
  border-style: solid;
  border-color: #0D38D3;
}

/* List elements */
li.nav-item {
  display: inline;
  float: right;
  padding: 5px;
}

/* List elements with a link or <a> tag */
li.nav-item a {   
  font-size: 15px;
  color: #0D38D3;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* List elements with a link or <a> tag when you hover over them */
li.nav-item a:hover {
  background-color: #0D38D3;
  color: #fdd946;
}

/* Subtitle */
#subtitle{
  text-align: center;
  font-size: 25px;
  
  padding-top: 20px;
}

/* Images */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
} 


.flex-item {
  flex-basis: 100%;
  margin: 1%;
}

img {
  display: block;      
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
  border-style: solid;
  border-color: #fdd946;
  border-width: 8px;
  border-radius: 5px;
}

/* Checklist */
.checklist {
  background-color: white;
  color: #0D38D3;
  padding: 50px;
  width: 40%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 25px;
  border-style: solid;
  border-color: #fdd946;
  border-width: 8px;
  border-radius: 10px;
  
}

/* Unordered List Elements */
ul {
  list-style-type: none;
}

/* List Elements */
li {
  padding: 5px;
}

.resize {
  width: 50%;
  display: block;
  margin: 50px auto;
}

@media screen only screen and (max-width: 850px) {
  .flex-container {
    flex-wrap: wrap;
    height: 100%;
  }

  header, main {
  padding-left: 50px;
  padding-right: 50px;
  }
}

@media screen and (min-width: 315px) and (max-width: 849px){
  header, main {
  padding-left: 50px;
  padding-right: 50px;
  }
	
  .flex-container {
  display: block;
	height: 100%;
  }

  .flex-item {
	margin-bottom: 20px;
  }
  
  li.nav-item a {   
  font-size: 14px;
  color: #0D38D3;
  padding: 12px 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  }
}
